<div class="wrapper fadeInDown">
	<div id="formContent">
		<!-- Tabs Titles -->

		<!-- Icon -->
		<div class="fadeIn first">
			<img src="assets/aprobado.svg" id="icon" alt="User Icon" />
		</div>

		<!-- Login Form -->
		<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
			<input type="text" formControlName="usuario" class="fadeIn second" placeholder="user">
			<input type="password" formControlName="password" class="fadeIn third" placeholder="password">
			<input type="submit" class="fadeIn fourth" value="Log In">
		</form>

		<div *ngIf="errorStatus" class="alert-danger">
			<p>{{errorMsj}}</p>
		</div>
	</div>
</div>